<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="zzc">
    <link rel="icon" href="img/icon.jpg">

    <title>收到邀请</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.css}">

    <!--格式设置等-->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

</head>

<body>
<body background="/img/bg3.jpg"
      style=" background-repeat:no-repeat ;
      background-size:100% 100%;
      background-attachment: fixed;"
></body>
<div class="container">
    <div th:replace="~{commons/usercommon::nvbar(active='invite')}"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="wrapper">
            <div class="overlay"></div>
            <div th:replace="~{commons/usercommon::sidebar}"></div>
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
                    <h1 class="page-header">收到邀请</h1>
                    <div class="card mb-4">
                        <div class="card-header">
                            来自企业的邀请,点击查看详情
                        </div>
                    </div>

                    <div class="list-group">
                        <a th:href="@{/user/position/check(pid=${invite.getPid()})}" class="list-group-item" th:each="invite:${pageInfo.getList()}">
                            <h4 class="list-group-item-heading" th:text="${invite.getPname()}">
                            </h4>
                            <p class="list-group-item-text">
                            <div th:text="${invite.getBname()}"></div>
                            </p>
                            <a class = "btn btn-sm btn-info" th:href="@{/user/position/check(pid=${invite.getPid()})}">查看详情</a>
                            <a class = "btn btn-sm btn-danger" th:href="@{/user/invite/refuse(id=${invite.getId()})}">拒绝邀约</a>
                        </a>
                    </div>
                    <div class="modal-footer no-margin-top" >
                        <div class="col-md-6">
                            正在浏览第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.共 [[${pageInfo.total}]] 条记录
                        </div>
                        <div class="row">
                            <form th:action="@{/user/invite}" method="post">
                                <div class="col-lg-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="pageNum" style="width:50px">
                                        <span class="input-group-btn"><button class="btn btn-default"  type="submit">跳转</button></span>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </form>
                        </div>
                        <ul class="pagination pull-right no-margin">
                            <li th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/user/invite?pageNum=1'">首页</a>
                            </li>

                            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/user/invite?pageNum='+${pageInfo.prePage}">
                                    <i class="ace-icon fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <!--遍历条数:这里分页数与每页大小相同？-->
                            <li th:each="nav:${pageInfo.navigatepageNums}">
                                <a th:href="'/user/invite?pageNum='+${nav}" th:text="${nav}"
                                   th:if="${nav != pageInfo.pageNum}"></a>
                                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}"
                                      th:text="${nav}"></span>
                            </li>

                            <li class="next" th:if="${pageInfo.hasNextPage}">
                                <a th:href="'/user/invite?pageNum='+${pageInfo.nextPage}">
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                </a>
                            </li>

                            <li>
                                <a th:href="'/user/invite?pageNum='+${pageInfo.pages}">尾页</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"><\/script>')</script>
<script th:src="@{/css/bootstrap/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}" ></script>

<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>


</body>
</html>