<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="zzc">
    <link rel="icon" href="img/icon.jpg">

    <title>岗位详情</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.css}">

    <!--格式设置等-->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">


</head>

<body>
<body background="/img/bg3.jpg"
      style=" background-repeat:no-repeat ;
      background-size:100% 100%;
      background-attachment: fixed;"
></body>
<div class="container">
    <div th:replace="~{commons/usercommon::nvbar(active='business')}"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="wrapper">
            <div class="overlay"></div>
            <div th:replace="~{commons/usercommon::sidebar}"></div>
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
                    <h1 class="page-header">岗位信息</h1>
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-md-10 col-sm-10" >
                                <h2 th:text="${post.getPname()}"></h2>
                                <h4><span th:text="${post.getPleft()}+'---'+${post.getPright()}" style="color: #ff0000"></span></h4>
                                <h4><span th:text="${post.getCity()}+'&emsp;|&emsp;'+${post.getExp()==0?'无经验':(post.getExp()==1?'1年以下':(post.getExp()==2?'1-3年':(post.getExp()==3?'3-6年':(post.getExp()==4?'6-10年':'10年以上'))))}+'&emsp;|&emsp;'+(${post.getXueli()==0?'专科':(post.getXueli()==1?'本科':(post.getXueli()==2?'硕士':(post.getXueli()==3?'博士':'')))})" style="color: #000000"></span></h4>
                            </div>
                            <div class="col-md-2 col-sm-2" >
                                &emsp;
                                &emsp;
                                <div class="btn-group" >
                                    <a class = "btn btn-lg btn-success" style="width:80px" href="#"><span class="glyphicon glyphicon-star-empty"></span>收藏</a>
                                    <a class = "btn btn-lg btn-primary" style="width:80px" href="#">申请职位</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="jumbotron">
                       <div class="row">
                           <div class="col-md-9 col-sm-9">
                               <h3>职位描述</h3>
                               <h4><span style="width:auto" class="label label-success" th:if="${post.getToken1()}!=null" th:text="${post.getToken1()}"></span>&emsp;&emsp;<span style="width:auto" class="label label-success" th:if="${post.getToken2()}!=null" th:text="${post.getToken2()}"></span>&emsp;&emsp;<span style="width:auto" class="label label-success" th:if="${post.getToken3()}!=null" th:text="${post.getToken3()}"></span></h4>
                               <pre th:text="${post.getIntro()}"></pre>
                               <hr>
                               <h3>工作地点</h3>
                               <p th:text="${post.getCity()}"></p>
                           </div>
                           <div class="col-md-3 col-sm-3">
                               <img id="img-avatar" th:src="'/img/avatar/'+${business.getAvatar()}" style="width:120px;height:120px;" class="img-thumbnail">
                               <a th:href="@{/user/business(bid=${post.getBid()})}"><h2 th:text="${business.getBusinessname()}"></h2></a>
                               <h4 th:text="'创立于'+${business.getFounding()}+'/'+${business.getBscale()}"></h4>
                               <h4><span class="label label-info" th:text="${business.getIndustry()}"></span></h4>
                               <h4><span class="label label-info" th:text="${business.getNature()}"></span></h4>
                               <p class="blog-post-meta"><a th:href="'http://'+${business.getWeb()}">企业官网</a></p>
                               <p th:text="${business.getIntro()}"></p>
                           </div>
                       </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"><\/script>')</script>
<script th:src="@{/css/bootstrap/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}" ></script>

<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>


</body>
</html>