<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="zzc">
    <link rel="icon" th:href="@{/img/icon.jpg}">

    <title>编辑用户</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.css}">

    <!--格式设置等-->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

</head>

<body>
<div th:replace="~{commons/managercommon::nvbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/managercommon::sidebar1}"></div>
        <div class="col-sm-9 col-md-10 col-md-offset-2 col-sm-offset-3 main">
            <h1 class="page-header">编辑用户</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/manager/mindex">管理员界面</a></li>
                <li class="breadcrumb-item"><a href="/manager/muser">用户管理</a></li>
                <li class="breadcrumb-item active">编辑用户</li>
            </ol>
            <div class="container-fluid">
                <p style="color:#ff0000" th:text="${msg}" th:if="${! #strings.isEmpty(msg)}" ></p>
                <form class="form-horizontal" th:action="@{/manager/muser/edit}" method="post">
                    <div class="form-group">
                        <label  class="col-sm-2  control-label">账号</label>
                        <div class="col-sm-8">
                            <input th:value = " ${user.getId()}" class="form-control" readonly="readonly"  name = "id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-8">
                            <input th:value = " ${user.getUserName()}" class="form-control"  name = "userName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-8">
                            <input th:value = " ${user.getPwd()}" class="form-control" id="inputPassword" placeholder="Password" name = "pwd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">身份</label>
                        <div class="col-sm-8">
                            <select class="form-control" name = "identity">
                                <option th:selected="${user.getIdentity()=='0'}" value="0">求职用户</option>
                                <option th:selected="${user.getIdentity()=='1'}" value="1">企业用户</option>
                                <option th:selected="${user.getIdentity()=='2'}" value="2">管理员</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 ">
                            <button type="submit" class="btn btn-success">提交修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"><\/script>')</script>
<script th:src="@{/css/bootstrap/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}" ></script>

</body>
</html>
