<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="zzc">
    <link rel="icon" th:href="@{/img/icon.jpg}">

    <title>用户管理</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet">

    <!--格式设置等-->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

</head>

<body>
<div th:replace="~{commons/managercommon::nvbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/managercommon::sidebar1}"></div>
        <div class="col-sm-9 col-md-10 col-md-offset-2 col-sm-offset-3 main">
            <h1 class="page-header">用户管理</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/manager/mindex">管理员界面</a></li>
                <li class="breadcrumb-item active">用户管理</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    用户信息
                </div>
            </div>
            <div class="card-body">
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#adduser">
                    快速添加用户
                </button>
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="adduserLabel">
                                    添加用户
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div th:replace="~{manager/muser/adduser::adduser}"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <form  th:action="@{/manager/muser/search}" method="post">
                            <div class="input-group">
                                <span class="input-group-btn"><button class="btn btn-sm btn-success">搜索用户</button></span>
                                <input type="text" placeholder="搜索用户id"  id="SearchId" name="searchid" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>                <!--                    <h2></h2>-->
                <div class="table-responsive" id="confirmld" th:fragment="ld">
                    <!--text-nowrap-->
                    <table class="table table-bordered table-hover table-striped" id="dataTable" cellspacing="0">
                        <thead>
                        <tr>
                            <th>操作</th>
                            <th>账号</th>
                            <th>用户名</th>
                            <th>用户密码</th>
                            <th>用户身份</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="userinfo:${pageInfo.getList()}">
                            <td>
                                <a class = "btn btn-sm btn-primary" th:href="@{/manager/muser/edit/}+${userinfo.getId()}">编辑</a>
                                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
                                    删除
                                </button>
                                <!-- 模态框（Modal） -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    删除确认
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                确认删除？
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                                <a class = "btn btn-sm btn-danger" th:href="@{/manager/muser/delete/}+${userinfo.getId()}">确认</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                            <td th:text="${userinfo.getId()}"></td>
                            <td th:text="${userinfo.getUserName()}"></td>
                            <td th:text="${userinfo.getPwd()}"></td>
                            <td th:text="${userinfo.getIdentity()}"></td>
                        </tr>
                        </tbody>
                    </table>

                    </ul>
                </div>
                <div class="modal-footer no-margin-top" >
                    <div class="col-md-6">
                        正在浏览第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.共 [[${pageInfo.total}]] 条记录
                    </div>
                    <div class="row">
                        <form  th:action="@{/manager/muser}" method="post">
                        <div class="col-lg-1">
                            <div class="input-group">
                                <input type="text" class="form-control" name="pageNum">
                                <span class="input-group-btn"><button class="btn btn-default" type="submit">跳转</button></span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                        </form>
                    </div>
                    <ul class="pagination pull-right no-margin">
                        <li th:if="${pageInfo.hasPreviousPage}">
                            <a th:href="'/manager/muser?pageNum=1'">首页</a>
                        </li>

                        <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                            <a th:href="'/manager/muser?pageNum='+${pageInfo.prePage}">
                                <i class="ace-icon fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <!--遍历条数:这里分页数与每页大小相同？-->
                        <li th:each="nav:${pageInfo.navigatepageNums}">
                            <a th:href="'/manager/muser?pageNum='+${nav}" th:text="${nav}"
                               th:if="${nav != pageInfo.pageNum}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}"
                                  th:text="${nav}"></span>
                        </li>

                        <li class="next" th:if="${pageInfo.hasNextPage}">
                            <a th:href="'/manager/muser?pageNum='+${pageInfo.nextPage}">
                                <i class="ace-icon fa fa-angle-double-right"></i>
                            </a>
                        </li>

                        <li>
                            <a th:href="'/manager/muser?pageNum='+${pageInfo.pages}">尾页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    Modal.prototype.adjustDialog = function () {
        var modalIsOverflowing = this.$element[0].scrollHeight > document.documentElement.clientHeight

        this.$element.css({
            paddingLeft:  !this.bodyIsOverflowing && modalIsOverflowing ? this.scrollbarWidth : '',
        paddingRight: this.bodyIsOverflowing && !modalIsOverflowing ? this.scrollbarWidth : ''
    })
        // 是弹出框居中。。。
        var $modal_dialog = $(this.$element[0]).find('.modal-dialog);
        var m_top = ( $(document).height() - $modal_dialog.height() )/2;
        $modal_dialog.css({'margin': m_top + 'px auto'});
    }
</script>
<!-- Placed at the end of the document so the pages load faster -->
        <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/dist/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>