<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--导航栏-->
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top "  th:fragment="nvbar">
    <div id="Fix_nav" class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span style="font-size: 25px;">人才招聘网</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:class="${active=='index'?'active':''}"><a href="/index"><span style="font-size: 15px;">首页</span></a></li>
                <li th:class="${active=='1'?'active':''}"><a href="/index"><span style="font-size: 15px;">热门岗位</span></a></li>
                <li th:class="${active=='2'?'active':''}"><a href="#"><span style="font-size: 15px;">筛选岗位</span></a></li>
                <li th:class="${active=='3'?'active':''}"><a href="#"><span style="font-size: 15px;">查找公司</span></a></li>
                <li th:class="${active=='4'?'active':''}"><a href="#"><span style="font-size: 15px;">收到邀请</span></a></li>
                <li th:class="${active=='5'?'active':''}"><a href="#"><span style="font-size: 15px;">收藏岗位</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li th:class="${active=='info'?'active':''}" ><a href="/user/info">个人中心</a></li>
                        <li><a href="#">我的简历</a></li>
                        <li><a href="#">我的投递</a></li>
                        <li><a href="#">收藏岗位</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header"></li>
                        <li><a href="/login">登录/切换</a></li>
                        <li><a href="/user/passwd">修改密码</a></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" th:action="@{/user/search}" method="post">
                <div class="form-group">
                    <span class="input-group-text glyphicon glyphicon-search" style="color: rgb(84, 122, 255);font-size: 20px;"> </span>
                    <input type="text" placeholder="找工作/查公司" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--侧边栏sidebar-wrapper-->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" th:fragment="sidebar" role="navigation">
    <ul class="nav sidebar-nav">
        <li><a href="#"><span class="glyphicon glyphicon-user" style="font-size: 28px;"> 更多内容</span></a></li>
        <h1>  </h1>
        <li><a href="/index"><span class="glyphicon glyphicon-home" >  首页  </span></a></li>
        <li><a href="/business/info"><span class="glyphicon glyphicon-file"> 企业端</span></a></li>
        <li><a href="/manager/mindex"><span class="glyphicon glyphicon-inbox"> 管理员端</span></a></li>
        <li><a href="/contact"><span class="glyphicon glyphicon-list"> 联系管理员</span></a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-new-window" > 切换登录</span></a></li>
        <li><a href="/register"><span class="glyphicon glyphicon-plus" > 注册</span></a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out" > 退出登录</span></a></li>
    </ul>

</nav>


<!--侧边栏sidebar-nav-->

<div class="col-sm-3 col-md-2 sidebar " th:fragment="sidebar1">
    <ul class="nav nav-sidebar">
        <li><a href="#"><span class="glyphicon glyphicon-user" style="color: rgb(0, 0, 0);font-size: 28px;"> 个人中心</span></a></li>
        <h1>  </h1>
        <li><a href="/index"><span class="glyphicon glyphicon-home" style="color: rgb(0, 0, 0);">  首页  </span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/user/info"><span class="glyphicon glyphicon-file" style="color: rgb(0, 0, 0);"> 个人信息</span></a></li>
        <li><a href="/index"><span class="glyphicon glyphicon-inbox" style="color: rgb(0, 0, 0);"> 我的简历</span></a></li>
        <li><a href=""><span class="glyphicon glyphicon-list" style="color: rgb(0, 0, 0);"> 投递信息</span></a></li>
    </ul>
    <ul class="nav nav-sidebar ">
        <li><a href=""><span class="glyphicon glyphicon-new-window" style="color: rgb(0, 0, 0);"> 切换登录</span></a></li>
        <li><a href=""><span class="glyphicon glyphicon-plus" style="color: rgb(0, 0, 0);"> 注册</span></a></li>
        <li><a href=""><span class="glyphicon glyphicon-log-out" style="color: rgb(0, 0, 0);"> 退出登录</span></a></li>
    </ul>
</div>

</html>