<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="zzc">
    <link rel="icon" th:href="@{/img/icon.jpg}">

    <title>编辑岗位</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.css}">

    <!--格式设置等-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <!-- 日历控件相关 -->
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" language="javascript" th:src="@{/js/linkageProvinceCity.js}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

</head>

<body>
<body background="/img/b_bg.png"
      style=" background-repeat:no-repeat ;
      background-size:100% 100%;
      background-attachment: fixed;"
></body>
<div class="container">
    <div th:replace="~{commons/businesscommon::nvbar(active='position')}"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="wrapper">
            <div class="overlay"></div>
            <div th:replace="~{commons/businesscommon::sidebar}"></div>
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>

                <div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 main">
                    <h1 class="page-header">岗位管理</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/business/info">企业端</a></li>
                        <li class="breadcrumb-item"><a href="/business/position">岗位管理</a></li>
                        <li class="breadcrumb-item active">编辑岗位</li>
                    </ol>
                    <p style="color:#ff0000" th:text="${msg}" th:if="${! #strings.isEmpty(msg)}" ></p>
                    <form class="form-horizontal" th:action="@{/business/position/edit}" method="post">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <input class="form-control hidden" name = "pid"  th:value="${position.getPid()}" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <input class="form-control hidden" name = "bid"  th:value="${position.getBid()}" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">公司名</label>
                            <div class="col-sm-8">
                                <input class="form-control" required="required" name = "bname"  th:value="${position.getBname()}" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">岗位名</label>
                            <div class="col-sm-8">
                                <input class="form-control" required="required" name = "pname"  th:value="${position.getPname()}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">职位类别</label>
                            <div class="col-sm-8">
                                <select class="form-control" name = "kind">
                                    <option th:selected="${position.getKind()=='软件开发'}" value="软件开发">软件开发</option>
                                    <option th:selected="${position.getKind()=='通信/硬件'}" value="通信/硬件">通信/硬件</option>
                                    <option th:selected="${position.getKind()=='机械/制造'}" value="机械/制造">机械/制造</option>
                                    <option th:selected="${position.getKind()=='产品/项目/运营'}" value="产品/项目/运营">产品/项目/运营</option>
                                    <option th:selected="${position.getKind()=='金融'}" value="金融">金融</option>
                                    <option th:selected="${position.getKind()=='市场营销'}" value="市场营销">市场营销</option>
                                    <option th:selected="${position.getKind()=='咨询/管理'}" value="咨询/管理">咨询/管理</option>
                                    <option th:selected="${position.getKind()=='人力/财务/行政'}" value="人力/财务/行政">人力/财务/行政</option>
                                    <option th:selected="${position.getKind()=='教育/科研'}" value="教育/科研">教育/科研</option>
                                    <option th:selected="${position.getKind()=='供应链/物流'}" value="供应链/物流">供应链/物流</option>
                                    <option th:selected="${position.getKind()=='视觉/交互/设计'}" value="视觉/交互/设计">视觉/交互/设计</option>
                                    <option th:selected="${position.getKind()=='房地产/建筑'}" value="房地产/建筑">房地产/建筑</option>
                                    <option th:selected="${position.getKind()=='生物医疗'}" value="生物医疗">生物医疗</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">职位类型</label>
                            <div class="col-sm-8">
                                <select class="form-control" name = "cate">
                                    <option th:selected="${position.getCate()=='社招'}" value="社招">社招</option>
                                    <option th:selected="${position.getCate()=='校招'}" value="校招">校招</option>
                                    <option th:selected="${position.getCate()=='实习'}" value="实习">实习</option>
                                    <option th:selected="${position.getCate()=='临时/兼职'}" value="临时/兼职">临时/兼职</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">工作城市</label>
                            <div class="col-sm-8">
                                <input class="form-control" readonly="readonly"  th:value="${position.getCity()}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">编辑城市</label>
                            <div class="col-sm-8">
                                <select id="selectProv" onchange="prov_onChange()">
                                    <option>请选择省份</option>
                                </select>
                                <select id="selectCity" onchange="city_onChange()" name="city" >
                                    <option th:value="${position.getCity()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">学历要求</label>
                            <div class="col-sm-8">
                                <select class="form-control" name = "xueli">
                                    <option th:selected="${position.getXueli()==0}" value=0>专科</option>
                                    <option th:selected="${position.getXueli()==1}" value=1>本科</option>
                                    <option th:selected="${position.getXueli()==2}" value=2>硕士</option>
                                    <option th:selected="${position.getXueli()==3}" value=3>博士</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">经验要求</label>
                            <div class="col-sm-8">
                                <select class="form-control" name = "exp">
                                    <option th:selected="${position.getExp()==0}" value=0>无经验</option>
                                    <option th:selected="${position.getExp()==1}" value=1>1年以下</option>
                                    <option th:selected="${position.getExp()==2}" value=2>1-3年</option>
                                    <option th:selected="${position.getExp()==3}" value=3>3-6年</option>
                                    <option th:selected="${position.getExp()==4}" value=4>6-10年</option>
                                    <option th:selected="${position.getExp()==5}" value=5>10年以上</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">薪资范围</label>
                            <div class="col-sm-3">
                                <input id="pleft" name="pleft" th:value="${position.getPleft()}" required="required" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" class="form-control" placeholder="最低薪资" >
                            </div>
                            <div class="col-sm-2">
                                <span>至</span>
                            </div>
                            <div class="col-sm-3">
                                <input id="pright" name="pright" required="required" th:value="${position.getPright()}" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" class="form-control" placeholder="最高薪资" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">发布日期</label>
                            <div class="col-sm-8">
                                <input class="form-control" readonly="readonly" th:value="${position.getReleasetime()}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">截止日期</label>
                            <div class="col-sm-2">
                                <div class='input-group date mt-2 w-50' id='datetimepicker1'>
                                    <input type='text' class="form-control" name="endtime" />
                                    <span class="input-group-addon ml-2">
                            <i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <script th:inline="javascript">
                            $('#datetimepicker1').datetimepicker({
                                format: 'YYYY-MM-DD',
                                locale: moment.locale('zh-cn'),
                                showTodayButton:true,
                                defaultDate: [[${position.getEndtime()}]]
                                /*4.17版本一些可能用得到的方法参数*/
                                /*
                                        showClose:true	//是否显示关闭 按钮
                                        /*viewMode: 'days',//天数模块展示，months则为以月展示
                                        daysOfWeekDisabled: false,//星期几 禁止选择,参数 [num],多个逗号隔开
                                        calendarWeeks: false,	//显示 周 是 今年第几周
                                        toolbarPlacement:'default', //工具摆放的位置，top 则为上，默认为底
                                        showTodayButton:false,	//是否工具栏 显示 直达今天天数的 按钮，默认false
                                        showClear:false, //是否 工具栏显示  清空 输入框  的按钮。默认false
                                */
                            });
                        </script>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">自定义标签1</label>
                            <div class="col-sm-8">
                                <input class="form-control" name = "token1" th:value="${position.getToken1()}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">自定义标签2</label>
                            <div class="col-sm-8">
                                <input class="form-control" name = "token2" th:value="${position.getToken2()}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">自定义标签3</label>
                            <div class="col-sm-8">
                                <input class="form-control" name = "token3" th:value="${position.getToken3()}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">工作要求</label>
                            <div class="col-sm-8">
                                <textarea th:text="${position.getIntro()}" name = "intro" placeholder="输入内容" cols="30" rows="25" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-6 ">
                                <button type="submit" class="btn btn-lg btn-success">提交修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#wrapper -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"><\/script>')</script>
<script th:src="@{/css/bootstrap/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}" ></script>

<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>


</body>
</html>