<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzc.recruitment.mapper.PositionMapper">

    <!--插入新信息，ID是自动生成的,返回数据库操作影响行数，为0则是失败-->


    <insert parameterType="zzc.recruitment.bean.Position" id="addPosition">INSERT InTO positions(bid,pname,bname,kind,cate,city,xueli,exp,pleft,pright,releasetime,endtime,intro,token1,token2,token3)values(#{bid},#{pname},#{bname},#{kind},#{cate},#{city},#{xueli},#{exp},#{pleft},#{pright},date_format(#{releasetime},'%Y-%m-%d'),date_format(#{endtime},'%Y-%m-%d'),#{intro},#{token1},#{token2},#{token3}) </insert>

    <delete parameterType="int" id="deleteByPid">DELETE FROM positions WHERE pid = #{pid} </delete>

    <delete parameterType="int" id="deleteByBid">DELETE FROM positions WHERE bid = #{bid} </delete>

    <update parameterType="zzc.recruitment.bean.Position" id="updatePosition">UPDATE positions SET pname=#{pname},kind=#{kind},city=#{city},xueli=#{xueli},exp=#{exp},pleft=#{pleft},pright=#{pright},endtime=date_format(#{endtime},'%Y-%m-%d'),intro=#{intro},token1=#{token1},token2=#{token2},token3=#{token3} WHERE pid = #{pid} </update>


    <select resultType="zzc.recruitment.bean.Position" id="getAll">SELECT * FROM positions </select>


    <select resultType="zzc.recruitment.bean.Position" id="getByPid">SELECT * FROM positions where pid=#{pid}</select>

    <select resultType="zzc.recruitment.bean.Position" id="getByBid">SELECT * FROM positions where bid=#{bid}</select>

    <select resultType="zzc.recruitment.bean.Position" id="getRecommend">SELECT * FROM positions where cate=#{status}
                          AND kind=#{hposition}
                          AND (#{hplace}='' or #{hplace}='不限' or #{hplace}='请选择市区' or city=#{hplace})
                          AND pleft &gt;= #{hleft}
                          AND pright&lt;=(#{hright}+5000)
                          AND xueli&lt;=#{xueli} </select>
    <!--模糊查找，返回一个List<Bean>-->
    <select resultType="zzc.recruitment.bean.Position" id="getByPname">SELECT * FROM positions where pname like concat('%',concat(#{pname},'%')) and bid=#{bid}</select>

    <select resultType="zzc.recruitment.bean.Position" id="searchPosition">SELECT * FROM positions where (#{searchword}='' or pname like concat('%',concat(#{searchword},'%')) or #{searchword} like concat('%',concat(pname,'%'))) AND
                              (#{city}='' or #{city}='不限' or #{city}='请选择市区' or city=#{city})AND
                              (#{kind}='' or kind=#{kind} or #{kind}='不限' )AND
                              (#{cate}='' or cate=#{cate} or #{cate}='不限')AND
                              (xueli &lt;= #{xueli}) AND
                              (exp &lt;=#{exp}) AND
                              pleft &gt;= #{pleft} AND
                              pright &lt;= #{pright} AND
                              timestampdiff(day,CURRENT_TIMESTAMP,endtime) >=0 AND
                              bid in (SELECT id FROM businessinfo WHERE ( #{industry}='' or industry=#{industry} or #{industry}='不限')AND
                                                                                                       ( #{nature}='' or nature=#{nature}or #{nature}='不限')AND
                                                                                                       (#{bscale}='' or bscale=#{bscale} or #{bscale}='不限'))</select>

</mapper>
